services:
  api:
    build:
      context: src/api
    ports:
      - "5000:5000"
    env_file: 
      - .env
    environment:
      - PYTHONUNBUFFERED=1
  web:
    build:
      context: src/web
    ports:
      - "3000:80"
    depends_on:
      - api
