# fastapi
# fastapi[standard]
# openai
# requests
# prompty[azure]==0.1.24
# promptflow
# azure-ai-evaluation
# pandas
# opentelemetry-instrumentation-fastapi
# jsonlines
# python-dotenv==1.0.1
# azure-search-documents==11.4.0
# gunicorn==21.2.0
# jupyter
# opentelemetry-sdk
# opentelemetry-instrumentation
# azure-identity==1.17.1
# https://remoteevalbugbash.blob.core.windows.net/remoteevalbugbash/azure_ai_project-1.0.0b1-py3-none-any.whl
# gunicorn==21.2.0
# azure-keyvault-secrets
# aiohttp==3.9.5
# azure-cognitiveservices-speech==1.37.0
# nbconvert
# azure-ai-evaluation[remote]
# validators
# azureml-mlflow
# azure-monitor-opentelemetry
# opentelemetry-instrumentation-openai-v2
azure-ai-inference[opentelemetry]
# azure-ai-inference[opentelemetry]  ./packages/whl packages
# azure-ai-projects is not available in PyPI install it from the ./packages/whl packages
./packages/azure_ai_inference-1.0.0b6-py3-none-any.whl
./packages/azure_ai_projects-1.0.0b1-py3-none-any.whl