flask
requests
promptflow-core
azure-monitor-opentelemetry-exporter
jsonlines
azure-search-documents
python-dotenv==1.0.1
azure-search-documents==11.4.0
gunicorn==21.2.0
flask-cors==4.0.1
./whl/prompty-0.1.20240505.73211-py3-none-any.whl
