flask
requests
promptflow-core==1.13.0
promptflow-evals==0.3.1
promptflow==1.13.0
azure-monitor-opentelemetry-exporter
opentelemetry-instrumentation-flask
jsonlines
python-dotenv==1.0.1
azure-search-documents==11.4.0
gunicorn==21.2.0
flask-cors==4.0.1
promptflow-tools==1.4.0
jupyter
opentelemetry-instrumentation
