h1 {
  font-size: 3em;
  margin: 0;
  font-weight: bold;
}

h2 {
  font-size: 2.5em;
  margin: 0;
  font-weight: bold;
  margin-top: 10px;
}

h3 {
  font-size: 2em;
  margin: 0;
  font-weight: bold;
  margin-top: 10px;
}

p {
  font-size: 1.1em;
  margin: 0;
  margin-top: 10px;

}

a {
  color: #007bff;
  text-decoration: none;
}